{
    "token": "0123456789abcdef0123456789abcdef",
    "directory": "/home/docker/backups",
    "concurrency": 4,
    "schedule_seconds": 86400,
    "failure_delay_seconds": 300,
    "extra_orgs": [],
    "owners": []
}
